/* Fondos */
.bg-primary { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d34d66+0,b83368+30,793068+63,2e275d+100 */
background: #d34d66; /* Old browsers */
background: -moz-linear-gradient(45deg,  #d34d66 0%, #b83368 30%, #793068 63%, #2e275d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #d34d66 0%,#b83368 30%,#793068 63%,#2e275d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #d34d66 0%,#b83368 30%,#793068 63%,#2e275d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d34d66', endColorstr='#2e275d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
.bg-secondary { background-color: #333; }
.bg-dark { background-color: ; }
.bg-light { background-color: ; }
.bg-semi-light { background-color: ; }

/* Colores */
.cl-primary { color: !important; }
.cl-secondary { color: #DDD !important; }
.cl-light { color: !important; }
.cl-dark { color: !important; }

/* Textos */
    /* Fuentes */
    /* Tamaños */
    .fn-lg    { font-size: 22px !important; }
    .fn-md    { font-size: 16px !important; }
    .fn-sm    { font-size: 13px !important; }
    .fn-xs    { font-size: 12px !important; }
    /* Transformaciones */
    .fn-up    { text-transform: uppercase; }

/* Paddings */
.pad-none { padding: 0 !important; }
.pad-v-xs { padding-top: !important; padding-bottom: !important; }  .pad-h-xs { padding-left: !important; padding-right: !important; }
.pad-v-sm { padding-top: 15px !important; padding-bottom: 15px !important; }  .pad-h-sm { padding-left: 15px !important; padding-right: 15px !important; }
.pad-v-md { padding-top: 20px !important; padding-bottom: 20px !important; }  .pad-h-md { padding-left: 20px !important; padding-right: 20px !important; }
.pad-v-lg { padding-top: !important; padding-bottom: !important; }  .pad-h-lg { padding-left: !important; padding-right: !important; }
.pad-b-none { padding-bottom: 0 !important; } .pad-t-none { padding-top: 0 !important; } .pad-r-none { padding-right: 0 !important; } .pad-l-none { padding-left: 0 !important; }

/* Margins */
.mar-none { margin: 0 !important; }
.mar-v-xs { margin-top: !important; margin-bottom: !important; }    .mar-h-xs { margin-left: !important; margin-right: !important; }
.mar-v-sm { margin-top: 15px !important; margin-bottom: 15px !important; }    .mar-h-sm { margin-left: 15px !important; margin-right: 15px !important; }
.mar-v-md { margin-top: !important; margin-bottom: !important; }    .mar-h-md { margin-left: !important; margin-right: !important; }
.mar-v-lg { margin-top: !important; margin-bottom: !important; }    .mar-h-lg { margin-left: !important; margin-right: !important; }
.mar-b-none { margin-bottom: 0 !important; } .mar-t-none { margin-top: 0 !important; } .mar-r-none { margin-right: 0 !important; } .mar-l-none { margin-left: 0 !important; }

/* Displays */
.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }
.inherit { display: inherit; }

/* Posistions */
.fixed { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }

/* Background transparencias */
.background { background: url(klematis.jpg) repeat; border: 0px ; }
.transbox { margin: 10px; background-color: #ffffff; border: 1px solid black; opacity: 0.6; filter: alpha(opacity=60); /* For IE8 and earlier */ }
.transbox { margin: 5%; font-weight: bold; color: #000000; }

.transparent { opacity: 0.5; }
.tbody { border: 5px solid #ccc; opacity: 0.5; }
.footer-pos { position:absolute;width: 100%;height: 40px; background:#6cf; }
.transboxTEXT { margin: 5%; font-weight: bold; color: #000000; }

.table-transparent { background: rgba(0,0,0,0.3) }   /* transparencia solo del fondo , resaltando los botones y texto */
.tamañoSpinner{width: 3em;}
/* Bootstrap */